@charset "utf-8";

$shiori-secondory-color: #08ADEC;
$shiori-gray: gainsboro;
$header-height: 48px;

html {
  height: 100%;
}

body {
  height: 100%;
}

.header {
  background-color: $shiori-secondory-color;
  width: 100%;
  height: $header-height;

  .dropdown {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100px;
    margin: -15px -50px;
    position: relative;
    left: 10px;
    top: -3px;
  }

  //.dropdown:hover {
  //  background-color: $shiori-secondory-color;
  //}

  #dropdownMenuButton {
    color: white;
  }

  #dropdownMenuButton:focus {
    outline: none;
    box-shadow: none;
  }

  .dropdown-menu {
    left: 33px;
    padding: 0;
    border: 1px solid rgba(0,0,0,.1);
  }

  .dropdown-item {
    padding: 1rem 0.5rem;
    font-size: small;
  }

  .dropdown-item:hover {
    background-color: #08ADEC;
    color: white;
  }

  .adding-folder-button {
    color: white;
  }
}

.wrapper {
  margin-top: $header-height;
  min-height: 100%;
  width: 100%;
  display: flex;
  // TODO: CSSファイルを分割する
  .sidemenu {
    width: 20%;
    display: block;
    float: left;
    border-right: 1px solid rgba(0,0,0,.1);

    #sidemenu-indicator {
      color: $shiori-gray;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .folder-list-view {
      .folder-view {
        height: 32px;
        width: 100%;
        position: relative;
        cursor: pointer;

        .folder-text-area {
          display: block;
          position: absolute;
          top: 0;
          left: 10px;
          right: 10px;
          bottom: 0;
          margin: auto;
          height: 78%;

          .folder-info {
            display: inline;
          }

          .folder-view-right-area {
            float: right;
            display: flex;
          }

          .i.bi.bi-folder2 {
            font-size: larger;
            float: left;
          }

          .folder-view-name {
            display: inline;
            text-align: left;
          }

          .folder-view-content-count {
            margin-right: 5px;
          }
        }
      }

      .folder-view:hover {
        background-color: aliceblue;
      }

      .folder-delete-button {
        font-size: large;
        height: 25px;
        margin-right: -5px;
      }

      .folder-delete-button:hover {
        background-color: gainsboro;
      }

      .selected-folder-view {
        background-color: gainsboro;
      }
    }
  }

  .main {
    width: 80%;
    float: right;

    #content-list-indicator {
      color: $shiori-gray;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .content-list-view {
      .content-view {
        position: relative;
        height: 80px;
        width: 100%;
        border: 1px solid rgba(0,0,0,.1);
        cursor: pointer;
        .content-thumbnail-view {
          float: left;
          width: 80px;
          height: 100%;
          position: relative;
          margin-left: 5px;
          .content-thumbnail-img {
            width: 70px;
            height: 50px;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .content-info {
          height: 100%;
          float: left;
          font-size: small;
          position: relative;
          .content-info-text-area {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 80%;
            .content-title {
              margin-top: 10px;
              margin-right: 10px;
              margin-bottom: 0px;
              margin-left: 10px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              display: inline-block;
              max-width: 60vw;
            }
            .content-sub-info {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin-right: 10px;
              margin-top: 0px;
              margin-bottom: 0px;
              margin-left: 10px;
            }
          }
        }

        .content-button-area {
          display: block;
          text-align: right;
          position: absolute;
          right: 20px;
          top: 10px;

          .content-button {
            font-size: large;
            margin-left: 10px;
            border: 1px solid rgba(0,0,0,.1);
            padding: 5px;
            border-radius: 5px;
          }

          .content-button:hover {
            color: aqua;
          }
        }
      }

      .content-view:hover {
        background-color: gainsboro;
      }
    }

    #saved-content-text {
      margin-top: 10px;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

.select-folder-modal {
  background-color: chartreuse;
  height: 50%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100000;

  .folder-view-select-folder-modal:hover {
    background-color: gainsboro;
  }

  #select-folder-h6 {
  }

  #select-folder-view-close-button {
    display: inline;
    float: right;
  }
}
