@charset "utf-8";

$shiori-primary-color: #1DDBB5;

#default-popup {
  #save-button-view {
    background-color: $shiori-primary-color;

    #save-button {
      color: white;
      background-color: $shiori-primary-color;
      width: 300px;
      height: 50px;
    }
  }

  #show-content-list-view-button {
    text-align: center;
  }

  #show-content-list-view-button:hover {
    color: $shiori-primary-color; /*リンクにマウスが乗ったら背景色を変更する*/
    text-decoration: underline
  }

  #profile-view {
    border-top: thin solid gray;
    text-align: right;
  }
}

#content-saved-popup {

}
